.formbody{
    /* border: 1px solid red; */
    width: 40%;
    margin: auto;
    height: 520px;
    padding: 25px;
    background-color: rgb(145, 208, 228);
    border-radius: 10px;
}

.formbody label{
   text-align: start;
   margin-right: 30px;
}
.pageDiv{
    width: 25%;
    margin: auto;
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.pageDiv button{
    border: 1px solid gray;
    width: 100%;
    margin: auto;
}