.formbody{
    /* border: 1px solid red; */
    width: 40%;
    margin: auto;
    height: 520px;
    padding: 25px;
    background-color: rgb(145, 208, 228);
    border-radius: 10px;
}

.formbody label{
   text-align: start;
   margin-right: 30px;
}